* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
}

#nav-container,
#head-part {
    background: #f9f9f9;
}

.navbar {
    font-size: 18px;
    background: transparent;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.logo {
    text-decoration: none;
    color: #263745;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.main-nav li a {
    color: #263745;
}

.main-nav li a:hover {
    color: #13aa52;
    text-decoration: none;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #263745;
    font-size: 24px;
}

.active {
    display: block;
    width: 100%;
}

.faq h2 {
    font-weight: bold;
    font-family: Helvetica;
    color: #263745;
}

.wrapper {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.panel {
    margin: 30px auto;
}

.panel-heading {
    padding: 0 12px;
    border: 0;
    border: 1px solid #13aa52;
    border-radius: 5px;
}

.panel-body {
    margin: 20px 30px;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\25bc";
    float: right;
    transition: all 0.5s;
    color: #13aa52;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.footer {
    background: #263745;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.footer ul li {
    list-style-type: none;
    margin: 5px 0;

}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;

}

.footer a:hover {
    color: #13aa52;
    text-decoration: underline;
}

.footer p {
    color: white;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 2px;
}

/* Responsive Navbar Code For Mobile & Tablet Starts From Here */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }
}

/* Responsive Navbar Code For Mobile & Tablet Ends Here */

/* Responsive Website Code For Mobile & Tablet Starts From Here */
@media screen and (max-width: 768px) {
    .details {
        padding-left: 15px;
        padding-right: 15px;
    }
    .details h1{
        text-align: center;
    }
    .details h3{
        font-size: 22px;
    }

    .container {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .col-xs-12 {
        display: flex;
        flex-direction: column-reverse;
        /* margin-top: 0 !important; */
    }

    .details .col-sm-8 img {
        height: 180px;
        margin: 0 auto;
        display: block;
    }

    .footer img {
        margin: 20px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .footer p {
        text-align: left;
        margin-top: 0 !important;
    }

    .footer .col-sm-4 {
        margin-bottom: 30px;
    }

    .panel {
        padding-left: 20px;
        padding-right: 20px;
    }

    #nav-container.scrolled .navbar-toggle {
        color: white;
    }

    .logo #logo-sticky {
        display: none;
    }

    .scrolled #logo-normal {
        display: none;
    }

    .scrolled #logo-sticky {
        display: inherit;
    }
    #sticky{
        margin: 15px auto;
    }
}

/* Responsive Website Code For Mobile & Tablet End Here */

.details .col-sm-4 .fa:hover {
    background: #13aa52;
    color: white;
}

#sticky:hover {
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-container {

    z-index: 1000;
}

#nav-container.scrolled {
    background: #263745;
    transition: 0.2s all ease-in-out;
}

#nav-container.scrolled a:hover {
    color: #13aa52;
}

#nav-container.scrolled a {
    color: #fff;
}


